@import '../../../scss/settings/colors';
@import '../../../scss/settings/fonts';
@import '../../../scss/settings/mainStyles';


.contactRight {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 500px;
    align-items:center;
    justify-content: center;  
    
    h1{
        text-align: center;
        line-height: 1.5;   
        margin-bottom: 30px;     
    }

    img {
        margin-top: 30px;
        margin: 20px;
        width: 60%;
    }
};