@import '../../../scss/settings/colors';
@import '../../../scss/settings/fonts';
@import '../../../scss/settings/mainStyles';


.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    img {
        width: 200px;
    }
    
    .contactFormArea{
        display: flex;
        flex-direction: column;
    }
}