@import '../../scss/settings/colors';
@import '../../scss/settings/fonts';
@import '../../scss/settings/mainStyles';

.buttonBig{
    color: $colorDarkDarkGrey;
    background-color: white;
    font-size: $fontBig;
    font-family: $fontBase;
    font-weight: lighter;
    text-transform: uppercase;
    height: 120px;
    width: 310px;
    size: $fontBig;
   
    padding: 0 10px; 
    cursor: pointer;
    margin: 20px;
    border: solid 2px $colorDarkDarkGrey;
    &:hover{
        border-color: $colorYellow;
    }
} 

.buttonMedium{
    color: $colorDarkDarkGrey;
    background-color: white;
    height: 79px;
    width: 208px;
    font-size:  $fontMedium;
    font-family: $fontBase;
    padding: 0 10px; 
    outline: none;
    border: none;
    cursor: pointer;
    margin: 13px;
    border: solid 2px none;
        
    &:hover{
        border: solid 2px $colorDarkDarkGrey;
    }

}

.buttonSmall{
    color: $colorDarkGrey;
    height: 36px;
    size: $fontSmall;
    width: auto;
    padding: 0 10px; 
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
    margin: 5px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    &:hover{
        border-color: $colorYellow;
        border-style: solid;
        border-width: 2px;
    }
}

.buttonNav{
    color: $colorDarkGrey;
    height: 42px;
    font-size: $fontNav;
    font-family: $fontBase;
    font-weight: normal;
    width: auto;
    padding: 0 10px; 
    cursor: pointer;
    background: white;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    margin: 10px;
    &:hover{
        border-color: $colorDarkGrey;
        border-style: solid;
        border-width: 2px;
    }
}

.buttonSend{
    align-self: flex-end;
    color: $colorDarkGrey;
    font-size: 18px;
    font-family: $fontBase;
    font-weight: normal;
    width: 150px;
    height: 50px;
    padding: 0 10px; 
    cursor: pointer;
    background: white;
    border: solid 2px $colorDarkGrey;
    margin: 10px;
    &:hover{
        border-color: $colorYellow;
        border-style: solid;
        border-width: 2px;
    }
}